<title>My application deployed automatically</title>
  <h1>Contains or not</h1>
    Result is {{result}}
  <h5>This method looks for if there is n specific word that you search or not in the array.</h5>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	 <textarea name="input3" rows="10" cols="30">
        </textarea>
       
        <br>
        <input type="submit">
  </form>

